.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
h1{
  text-align: center;
  margin-top: 20px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #00082e;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  color: #e4ba00;
}

img {
  width: 80%;
}

footer p{
  text-align:center;
  margin-top: 25%;
  color: wheat;
}
footer p a{
  text-decoration: none;
  color: white; margin-left: 20px;
}

